<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.nxjeff.remoteprojectclient"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="7" />
<uses-permission android:name="android.permission.INTERNET" />
<uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <application android:icon="@drawable/icon" android:label="@string/app_name"
    android:theme="@android:style/Theme.Light.NoTitleBar" >
    
        <activity android:name=".RemoteSplash"
        			
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RemoteProjectClientActivity"/>
        <activity android:name=".scanlist"/>
        <activity android:name=".connecting"/>
        <activity android:name=".main_menu"/>
       	<activity android:name=".about"/>
       	<activity android:name=".settings"/>
       	<activity android:name=".mouse_a"/>
       	<activity android:name=".mouse_c"/>
       	<activity android:name=".numpad"/>
       	<activity android:name=".presentation"/>
       	<activity android:name=".player"/>
       		<activity android:name=".Keyboard"/>
       		<activity android:name=".connAuth"/>
       		<activity android:name=".toast"/>
       		<activity android:name=".Help"/>
       	
        
	<service android:name="com.nxjeff.remoteprojectclient.remoteService"></service>
    </application>
</manifest>